[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.0.0"
graphene-django = "*"
django-graphql-jwt = "==0.3.0"
django-graphql-auth = "*"
graphene = "*"
django-cors-headers = "*"
requests = "*"
authlib = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]
lorem = "*"

[requires]
python_version = "3.10"
